<!--<!DOCTYPE html>-->
@{
    Layout = null;
}
@model DataAccessLayer.Student
<html lang="en">
<head>

    <!--<meta charset="utf-8" content="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2299c5">
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <title>EMOTIONAL REGULATION TEST - CLASS 8-12</title>

    <meta name="keywords" content="online, verbal, english, ability, test, questions, answers, explanation, solutions, 1" />
    <meta name="description" content="Take this &quot;Online Verbal Ability Test 1&quot; test and find out how much you score before you appear for your next interview and written test." />

    <link href="~/wwwroot/css/verbal_test.css" type="text/css" rel="stylesheet" media="screen" />
    <script src="~/wwwroot/js/verbal_test.js" type="text/javascript"></script>
    <script src="~/wwwroot/js/Spin.js" type="text/javascript"></script>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <script src="~/wwwroot/js/Test.js" type="text/javascript"></script>
    <link href="~/wwwroot/css/responsive-ui.css" type="text/css" rel="stylesheet" media="screen" />
    <style type="text/css">
        .bix-tbl-container td {
            display: inline-block;
        }

        .bix-tbl-container {
            width: 90%;
        }
        
    </style>
</head>

<body>
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Please wait. Your Test is being Submitted...
            </p>
        </div>
    </div>
    <div>

        <!--[if IE]><div class="inner-page-ie"><![endif]-->
        <div>

            <div>
                @*<div id="divHeader" class="pagehead" style="text-align:center"><h1>Emotional Regulation Test (9th -12th Class )</h1></div>*@
                <section class="c-hero c-hero--test">
                    <div id="divHeader" class="c-hero-test l-article l-container l-grid l-grid-2 l-grid-nogap u-flex-align-s">


                        <div class="c-hero__intro u-flex-1 js-package" data-slug="top-aptitude-tests">
                            <h1 class="heading--xxl u-mt1">

                                EMOTIONAL REGULATION TEST

                            </h1>
                            <h2 class="heading--xxl u-mt1">

                                For CLASS 8-12 (Total Questions: 36, Timeline: 7 Minutes)

                            </h2>

                            @*<div class="c-hero__description">
                                    <p>
                                        Welcome to Adhyapaan Physchometric Test platform. The test we have designed is a simple test to measure Emotional Regulation and various aspects on one’s Aptitude, which helps in identifying the areas of strength and weakness for an individual.
                                    </p>
                                </div>*@
                        </div>

                    </div>
                </section>
                <div id="divUserDetails" style="margin-left:0px;margin-right:0px;">
                    <fieldset class="adhypan-fieldset">
                        <legend align="left" style="color: black;"><b> Student Details:</b></legend>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">Name: @Model.Name</div>
                                <div class="col-md-6">Email: @Model.Email_ID</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Package: @Model.Package_Name</div>
                                <div class="col-md-6">Reference Code: @Model.Reference_Code</div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div id="divFloatTimer" align="center" class="timer-responsive-css">
                    Time Left: <span id="idFloatTimerLCD" style="font-weight:bold"></span>
                </div>
                <div>

                    <div class="breadcrumb">
                        @*<a href="/">Home</a> &raquo;
                            <a href="/online-test/categories/">Online Test</a> &raquo;
                            <a href="/online-test/verbal-ability-test/">Online Verbal Ability Test</a> &raquo; Verbal Ability Test 1*@
                        <span id="idTimerSpan" style="color:red; display:none; padding-left:15px">Time Left: <b id="idTimerLCD">00:18:00</b></span>
                        <input type="hidden" id="hdnTestTitleID" value="3" />
                        <input type="hidden" id="hdnTestID" value="21" />
                        <input type="hidden" id="hdnInitialTimer" value="420" />
                        <input type="hidden" id="hdnTimer" value="420" />
                    </div>
                    <div class="main-left">

                        <script type="text/javascript" charset="utf-8">

                            function StartTestButtonClickHandler(thisObj) {
                                /* 4 Lines - Firefox Combatability */
                                //$('#divResult').html('');
                                var _timerHandler = 0;
                                $('#hdnTimer').val($('#hdnInitialTimer').val());

                                $('#divInitiator').remove();

                                $('#divTabContent').show();
                                //$('#idTimerSpan').show();
                                $('#divFloatTimer').show();

                                _timerHandler = setInterval(function () {

                                    var valueTimer = $('#hdnTimer').val();

                                    if (valueTimer > 0) {
                                        valueTimer = valueTimer - 1;

                                        hours = (valueTimer / 3600).toString().split('.')[0];
                                        mins = ((valueTimer % 3600) / 60).toString().split('.')[0];
                                        secs = ((valueTimer % 3600) % 60).toString();

                                        if (hours.length == 1) hours = '0' + hours;
                                        if (mins.length == 1) mins = '0' + mins;
                                        if (secs.length == 1) secs = '0' + secs;

                                        $('#idTimerLCD').text(hours + ':' + mins + ':' + secs);
                                        $('#hdnTimer').val(valueTimer);

                                        document.title = $('#idTimerLCD').text();
                                        $('#idFloatTimerLCD').text($('#idTimerLCD').text());
                                    }
                                    else {

                                        clearInterval(_timerHandler);
                                        $("#frmEmotionalRegulationSenior").submit();

                                    }


                                }, 1000);


                            }

                        </script>

                        <a class="trigger_popup_fricc mx-green">Click here for Instruction</a>

                        <div class="hover_bkgr_fricc">
                            <span class="helper"></span>
                            <div>
                                <div class="popupCloseButton">&times;</div>
                                <div id="divStartTestInstruction">
                                    <div class="div-test-instruction">
                                        <p class="mx-green mx-bold mx-uline">Instruction:</p>

                                        <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tr>
                                                <td colspan="2">
                                                    <div class="bix-div-direction">
                                                        <div class="title-bar">
                                                            Think Of a Recent Incident You Have peronally Encountered. Keeping this incident in mind and other instances you face , answer the below questions on basis what you feel
                                                        </div>
                                                        <div class="title-bar">
                                                            Now  : Each question has 5 choices. Choose the answer you feel is correct.
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <form id="frmEmotionalRegulationSenior" method="POST" action="~/Test/SaveEmotionalRegulationSenior">
                            <input style="display:none;" name="Reference_Code" value=@Model.Reference_Code />
                            <div id="divTabContent" style="width:100%; text-align: center;background-image: url(/wwwroot/images/Apptpuzzle.jpg);" class="mydivs">

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="firstrowquestions">
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">1.I feel that I am the one to blame for it</td>
                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER1"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER1"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER1"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER1"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER1"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">2. I think that I have to accept that this has happened</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER2"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER2"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER2"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER2"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER2"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">3. I often think about how I feel about what I have experienced</td>
                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER3"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER3"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER3"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER3"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER3"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="secondrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">4. I think of nicer things than what I have experienced</td>
                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER4"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER4"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER4"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER4"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER4"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">5. I think of what I can do best</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER5"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER5"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER5"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER5"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER5"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">6. I think I can learn something from the situation</td>
                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER6"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER6"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER6"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER6"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER6"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                    </table>
                                </div>


                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="thirdrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">7. I think that it all could have been much worse</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER7">A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER7"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER7"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER7"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER7"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">8. I often think that what I have experienced is much worse than what others have experienced</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER8"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER8"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER8"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER8"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER8"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">9. I feel that others are to blame for it</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER9"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER9"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER9"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER9"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER9"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="fourthrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">10. I feel that I am the one who is responsible for what has happened</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER10"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER10"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER10"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER10"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER10"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">11. I think that I have to accept the situation</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER11"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER11">B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER11"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER11"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER11"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">12. I am preoccupied with what I think and feel about what I have experienced</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER12"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER12"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER12"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER12"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER12"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="fifthrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">13. I think of pleasant things that have nothing to do with it</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER13"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER13"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER13"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER13"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER13"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">14. I think about how I can best cope with the situation</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER14"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER14"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER14"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER14"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER14"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">15. I think that I can become a stronger person as a result of what has happened</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER15"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER15"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER15"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER15"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER15"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                    </table>
                                </div>


                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="sixthrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">16. I think that other people go through much worse experiences</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                   <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER16"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER16"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER16"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER16"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER16"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">17. I keep thinking about how terrible it is what I have experienced</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER17"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER17"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER17"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER17"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER17"> E. Almost Always</td>
                                                    </tr>

                                                    
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">18. I feel that others are responsible for what has happened</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                     <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER18"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER18"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER18"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER18"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER18"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>


                                        </tr>

                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="seventhrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">19. I think about the mistakes I have made in this matter</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER19"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER19"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER19"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER19"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER19"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">20. I think that I cannot change anything about it</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                     <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER20"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER20"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER20"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER20"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER20"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>


                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">21. I want to understand why I feel the way I do about what I have experienced</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER21"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER21"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER21"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER21"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER21"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>


                                        </tr>

                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="eigthrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">22. I think of something nice instead of what has happened</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER22"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER22"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER22"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER22"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER22"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">23. I think about how to change the situation</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER23"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER23"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER23"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER23"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER23"> E. Almost Always</td>
                                                    </tr>
                                                   
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">24. I think that the situation also has its positive sides</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER24"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER24"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER24"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER24"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER24"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>

                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="ninthrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">25. I think that it hasn’t been too bad compared to other things</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                   <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER25"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER25"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER25"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER25"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER25"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">26. I often think that what I have experienced is the worst that can happen to a person</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER26"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER26"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER26"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER26"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER26"> E. Almost Always</td>
                                                    </tr>
                                                   
                                                </table>
                                            </td>


                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">27. I think about the mistakes others have made in this matter</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER27"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER27"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER27"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER27"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER27"> E. Almost Always</td>
                                                    </tr>
                                                  
                                                </table>
                                            </td>


                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="tenthrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">28. I think that basically the cause must lie within myself</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER28"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER28"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER28"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER28"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER28"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">29. I think that I must learn to live with it</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER29"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER29"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER29"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER29"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER29"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>


                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">30. I dwell upon the feelings the situation has evoked in me</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER30"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER30"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER30"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER30"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER30"> E. Almost Always</td>
                                                    </tr>
                                                   
                                                </table>
                                            </td>


                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="eleventhrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">31. I think about pleasant experiences</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER31"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER31"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER31"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER31"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER31"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>


                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">32. I think about a plan of what I can do best</td>



                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER32"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER32"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER32"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER32"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER32"> E. Almost Always</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>

                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">33. I look for the positive sides to the matter</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">


                                                   <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER33"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER33"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER33"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER33"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER33"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>
                                    </table>
                                </div>

                                <div class="bix-tbl-container bix-div-direction title-bar adhyapan-test-css" id="twelvthrowquestions" >
                                    <table width="100%">
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">34. I tell myself that there are worse things in life</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                   <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER34"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER34"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER34"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER34"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER34"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>

                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">35. I continually think how horrible the situation has been</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">
                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER35"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER35"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER35"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER35"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER35"> E. Almost Always</td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr width="100%">
                                            <td width="100%">
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="jq-qno-142" valign="top" align="left">36. I feel that basically the cause lies with others</td>

                                                    </tr>
                                                </table>
                                                <table class="bix-tbl-container" cellspacing="0" cellpadding="0" border="0">

                                                    <tr>
                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="1" name="SeniorER36"> A. Almost never</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%"><input type="radio" class="result-option cls_142" value="2" name="SeniorER36"> B. Sometimes</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_C_142"><input type="radio" class="result-option cls_142" value="3" name="SeniorER36"> C. Regularly</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="4" name="SeniorER36"> D. Often</td>

                                                        <td class="bix-td-option bix-td-option-responsive" width="20%" id="tdOptionDt_D_142"><input type="radio" class="result-option cls_142" value="5" name="SeniorER36"> E. Almost Always</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div style="width:98%; text-align:center;">
                                <input class="btn-next-prev-custom" type="button" value="Prev" name="Prev" id="btnPrev" />
                                <input class="btn-next-prev-custom" type="button" value="Next" name="Next" id="btnNext" />
                            </div>
                            <div id="divSubmitTest" align="center" hidden="hidden" style="padding:20px; margin-top:20px; margin-bottom:20px; border:1px dashed #ccc; background-color:#fdfdfd;">
                                <input style="height:40px;width:150px; font-size:16px; text-align:center; color:white; border:1px dashed #ccc; background-color:#57b846;" align="center" type="submit" value="   Submit Test   " id="btnEmoRegCompletionTest" />
                            </div>

                        </form>
                    </div>

                </div>
                
            </div>

        </div>
    </div>
</body>
</html>