<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <link rel="stylesheet" href="~/wwwroot/css/main.css" />
    <title>Adhyapaan Phychometric Tests | Adhyapaan Phychometric Tests</title>
    <meta name="description" content="Adhyapaan Phychometric Tests | Adhyapaan Phychometric Tests" />
</head>

<body>

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW6K9QK" height="0"
                width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <header class="c-global-header">
        <div class="c-global-header__top">

        </div>

    </header>

    <main id="app" class="content" aria-label="Content">
        <div class="container-fluid">
            <div class="row" style="background-color:#a9a9a9;">
                <div class="col-md-6 text-center" style="padding-top:5%;">
                    <h1 class="heading--xxl u-mt1">
                        Adhyapaan Physchometric Tests
                    </h1>
                    <div class="c-hero__description">
                        <p>
                            You have completed the test. Please contact admin for results.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="~/wwwroot/images/Thumbsup.jpg" alt="Adhyapaan Physchometric Tests" class="eager" height="250">
                </div>
            </div>
        </div>
    </main>
</body>

</html>